<!DOCTYPE html>
<html>
<head>
  <title>Encurtar URL</title>
  <%= stylesheet_link_tag    'application' %>
  <%= stylesheet_link_tag    params[:controller] %>
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<%= yield %>

</body>
</html>
